<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <title>{% block title %}Blog{% endblock %}</title>
    {% block script %}{% endblock %}
</head>
<body>
<div class="container">
    <header>
        <nav>
            <ul class="nav nav-pills">
                <li><a href="{{ path('blog_homepage') }}">Accueil</a></li>
                {% if app.user %}
                    <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                    <li><a href="{{ path('MdP_edit', {'id': (app.user.id) }) }}">Modifier son mot de passe</a></li>
                    <li><a href="{{ path('profil_edit', {'id': (app.user.id) }) }}">Modifier son profil</a></li>
                    <li><a href="{{ path('delete_user', {'id': (app.user.id) }) }}">Supprimer son compte</a></li>
                    <li><a href="{{ path('article_creation') }}">Créer un article</a></li>
                {% else %}
                    <li><a href="{{ path('register') }}">S'enregistrer</a></li>
                    <li><a href="{{ path('login') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
    <footer>

    </footer>
</div>
</body>
</html>